# ── Backend ───────────────────────────────────────────────────────────────────
rdam-backend/target/
rdam-backend/*.class
rdam-backend/*.jar
rdam-backend/.idea/
rdam-backend/*.iml
rdam-backend/.vscode/launch.json
rdam-backend/.env
rdam-backend/storage/
rdam-backend/pluspagos-mock-simple/node_modules/
rdam-backend/pluspagos-mock-simple/.env

# ── Frontend ──────────────────────────────────────────────────────────────────
rdam-frontend/node_modules/
rdam-frontend/.env
rdam-frontend/dist/
rdam-frontend/.vite/

# ── General ───────────────────────────────────────────────────────────────────
.DS_Store
*.log